/* GENERAL STYLES */
:root {
    --contrast-color: #7a74e0;
    --primary-color: #000000;
    --primary-text-color: #423e90;
    --light-text-color: #ffffff;
    --secondary-color: #ffffff4d;
}

* {
    box-sizing: border-box;
    color: var(--primary-text-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a:link,
a:active,
a:visited {
    color: var(--contrast-color);
}

p {
    font-size: 1rem;
}

h1 {
    color: var(--contrast-color);
    font-size: 3rem;
}

h2 {
    color: var(--contrast-color);
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

fieldset {
    border: 0px;
}

input {
    background: transparent;
    border: 1px solid var(--contrast-color);
    border-radius: 25px;
    padding: 0.5rem 0.75rem;
    width: 100%;
}

button {
    background: var(--contrast-color);
    border: 0px;
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    color: var(--light-text-color)
}

/* UTILITY STYLES */
.default-flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.default-padding {
    padding: 1.5rem;
}

.small-text {
    font-size: 0.875rem !important;
}

.wrap section .content-wrap {
    margin: 0 auto;
    max-width: 500px;
}

.italic {
    font-style: italic;
}

.secondary-bg {
    background: var(--secondary-color);
}

.snippet {
    background: var(--secondary-color);
    font-family: "Courier New", Courier, monospace !important;
}

.indent {
    padding: 0rem 1rem;
}

.primary-content {
    padding-top: 0rem !important;
}

/* SITEWIDE STYLES */
/* Header Content */
.header-nav {
    position: fixed;
    width: 100%;
}

.header-nav.default-padding {
    padding: 1rem;
}

.header-nav ul {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 50px;
    flex-wrap: wrap;
    gap: 1.75rem;
    list-style-type: none;
    padding: 1rem 0rem;
    width: 500px;
}

.header-nav > ul > li > a {
    color: var(--primary-text-color);
    text-decoration: none;
}

/* Main Content */
.hero {
    padding-top: 6rem;
}

.hero.default-padding {
    padding-bottom: 0rem;
}

.hero > .content-wrap {
    margin: 0 auto;
    max-width: 400px !important;
}

.hero p {
    font-size: 3rem;
}

.hero .small-text {
    text-align: center;
}

/* Footer Content */
footer.default-padding {
    padding: 1rem;
}

footer p {
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

footer p.default-padding {
    padding: 1rem 0rem;
}

/* PAGE SPECIFIC STYLES */
/* index.html */
.home-content {
    text-align: center;
}

.home-content * {
    margin-bottom: 1rem;
}

.home-content h2:first-child {
    margin-top: 0rem;
}

.home-content h2 {
    margin: 2rem 0rem 1.5rem;
}

/* code.html */
.code-content h2 {
    text-align: center;
}

.code-content .content-wrap * {
    margin-bottom: 1rem;
}

.result {
    font-style: italic;
}

/* ===TABLET VERSION=== */
@media only screen and (min-width: 768px) {

    /* GENERAL STYLES */
    /* UTILITY STYLES */
    .wrap section .content-wrap {
        max-width: 700px;
    }

    /* SITEWIDE STYLES */
    /* Header Content */
    .header-nav ul {
        backdrop-filter: initial;
        background: inherit;
        flex-wrap: wrap;
        padding: 0rem;
        width: 100%;
    }

    .header-nav > ul > li {
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        background-color: var(--secondary-color);
        border-radius: 50px;
        padding: 1rem 2rem;
        text-decoration: none;
    }

    nav.small-text {
        font-size: initial;
    }

    /* UTILITY STYLES */
    /* PAGE SPECIFIC STYLES */
}

/* ===DESKTOP VERSION=== */
@media only screen and (min-width: 1024px) {}